*,
*::after,
*::before{
    box-sizing: border-box;
}

:root {
    /* background */
    --c-base-dark: rgb(50, 52, 60);
    --c-base-light: rgb(243, 243, 243);
    --c-accent: rgb(237, 130, 49);
    --c-light-grey: #bbb;
  
    /* text */
    --txt-c-base-dark: var(--c-base-dark);
    --txt-c-base-light: var(--c-base-light);
    --txt-c-accent: var(--c-accent);
  
    /* font */
    @font-face {
    font-family: 'Avenir Next Cyr';
    src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
        url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    }
    
    @font-face {
    font-family: 'Avenir Next Cyr';
    src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff"),
        url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
    font-style: bold;
    font-weight: bold;
    font-display: swap;
    }

  }

body{
    font-family: 'Avenir Next Cyr';
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

ul{
    list-style: none;
}

.wrapper{
    padding: 30px 10px;
    max-width: 1220px;
    margin: 0 auto;
}
.accent-button{
    background-color: var(--c-accent);
    border-radius: 10px;
    padding: 10px;
    width: auto;
}
.accent-button:hover,
.accent-button:active,
.accent-button:focus{
    color: inherit;
    text-decoration: none;
    padding: 10px;
    width: auto;
    background-color: inherit;
    color: var(--txt-c-accent);
    border: rgb(237, 130, 49) 2px solid;
    transition: .5s;
}

.secondary-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 18px;
    padding: 20px;
    font-weight: 700;
}

.header{
    background-image: url('../img/header.JPG');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--txt-c-base-light);
    text-align: center;
    padding: 70px 10px 38px;

    &__content{
        display: flex;
        justify-content: space-around;
    }
    &__title{
        color: var(--txt-c-base-dark);
        text-transform: uppercase;
        font-size: 22px;
    }
    &__input{
        border: 4px solid #bbb;
        border-radius: 10px;
        display: block;
        background-color: transparent;
        padding: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        margin-bottom: 60px;
    }
    &__btn{
        margin: 0 100px 0 100px;
    }
   
    .form{
    display: flex;
    flex-direction: column;
    flex-basis: 410px;
    color: var(--c-base-dark);
    margin-right: 40px;
    padding: 20px;
    background-color: var(--c-base-light);
    }

    .primery-title{
        text-transform: uppercase;
        line-height: 30px;
        text-align: start;
        margin-bottom: 30px;
        font-size: 20px;
    }
    &__info-attantion{
        background-color: red;
        margin-bottom: 50px;
        font-size: 16px;
    }
    &__info-content{
        margin-bottom: 70px;
        font-size: 16px;
        text-align: start;
    }
    &__info-content> span{
        background-color: var(--c-accent);
    }
        .countdown {
        font-family: sans-serif;
        color: #fff;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        display: flex;
        align-items: center;
        }
        
        .countdown-number {
        padding: 10px;
        border-radius: 3px;
        background: initial;
        display: inline-block;
        }
        
        .countdown-time {
        padding: 15px;
        border-radius: 3px;
        background: initial;
        display: inline-block;
        }
        
        .countdown-text {
        display: block;
        padding-top: 5px;
        font-size: 16px;
        }

 }

.advantage{
    text-align: center;
    padding: 70px 10px 38px;
    margin-bottom: 50px;

    &__svg{
        fill: var(--c-accent);
        height: 50px;
        width: 50px;
    }

    .item-title{
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    &__list{
        max-width: 25%;
        margin: 5px;
    }
    &__bottom{
        display: flex;
        padding-top: 20px;
    }
    .bottom-content{
        max-width: 55%;
    }
    & img{
        max-width: 45%;
        margin-right: 20px;
    }
    &__bottom-title{
        font-size: 17px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
    }
    &__bottom-list{
      padding-top: 10px;
      text-align: start;
    }
    &__bottom-item{
        list-style-image: url('../img/check-circle.svg');
        margin-bottom: 50px;
    }
    &__btn{
        border-radius: 0;
        color: var(--txt-c-base-light);
    }

  
 }

.choice{
    margin-bottom: 50px;

    &__card-content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .card-title{
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        text-align: center;
    }
    .wrapper{
        text-align: center;
    }
    .card{
        margin: 10px;
        max-width: 30%;
        align-items: center;
        text-align: start;
        background-color: var(--c-base-light);
    }
    .card-body{
        text-align: center;
    }
    &__svg{
        color: var(--c-accent);
        height: 50px;
        width: 50px;
        padding: 5px;
        margin-top: 15px;
    }
    &__btn{
        border-radius: 0;
        color: var(--txt-c-base-light);
    } 
}

.review{
    margin-bottom: 50px;
    .wrapper{
        text-align: center;
    }
   .review-name span{
    font-weight: 600;
    font-size: 16px;
   } 
   &__card-content{
       font-family: 'basic-italic';
       display: flex;
       justify-content: space-between;
       margin-bottom: 50px;
       text-align: start;
   }
   .card{
       margin: 5px;
       max-width: 30%;
       padding: 21px 5px 12px 21px;
        border-radius: 79px 10px;
   }    
   .card-body{
       background-image: url('../img/brush.svg');
       background-repeat: no-repeat;
       background-position: start;
   }
   .card-text{
    font-style: italic;
   }

}

.footer{
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--txt-c-base-light);
    .wrapper{
        text-align: center;
    }
    &__form{
        left: 0;
        right: 0;
    }
    &__bottom{
        background-color: var(--c-base-dark);
    }
    &__btn{
    margin-top: 30px;
    color: var(--txt-c-base-light);
    }
    &__input{
        background-color: inherit;
        color: var(--txt-c-base-light);
        border: white 2px solid;
        margin: 10px 20px;
        padding: 5px 15px;
    }
}

@media(max-width: 785px){
    body{
        min-width: 375px;
        font-size: 13px;
    }
   

    .header{
        .primery-title{
            text-align: center;
        }
        &__content{
            display: flex;
            flex-direction: column-reverse;
        }
        &__info{
            text-align: center;
        }
        &__info-content{
            text-align: center;
            margin-bottom: 10px;
        }
        &__input{
         margin-bottom: 10px;
        }

        .countdown{
        justify-content: center;
        }
        .form{
            flex-basis: 0;
            margin-right: 0;
        }

    }
    
    .advantage{
        &__item{
            display: block;
        }
        &__list{
            max-width: 100%;
        }
        &__bottom{
            flex-direction: column-reverse;
            align-items: center;
        }
        &__bottom-item{
            margin-bottom: 25px;
        }
        .bottom-content{
            max-width: 100%;
        }
        img{
            max-width: 100%;
            margin: 30px 0 10px 0;
        }
    }
    .choice{
        .card{
            max-width: 100%;
        }
        &__card-content{
            justify-content: space-around;
        }
    }

    .review{
        
        .card{
            max-width: 100%;
        }
        &__card-content{
            display: block;
        }
    }



}

